{% extends 'base.html.twig' %}

{# {% form_theme form 'bootstrap_3_layout.html.twig' %} #}


{% block body %}
    <div class="col-md-4 col-md-offset-4", style="background-color: #cc8500; margin-top: 65px; margin-bottom: auto">
        <h1>Task creation</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-large btn-success" value="Add Task" />
        {{ form_end(form) }}

        {#<ul>#}
            {#<li>#}
            <br>
                <a href="{{ path('task_index') }}" class="btn btn-large btn-success">Back to the list</a>
            {#</li>#}
        {#</ul>#}
    <div>
        {% endblock %}

